body
{
    background-color:#FFFFFF;
    /* #F7FDFF */
}

button
{
    color:white;
    background-color: #084B8A;
    font-family:Garamond;
    font-size: 1.2em;
    border: 1px solid #A9E2F3;
    margin: auto; /* Center de button */
    border-radius: 4px;
    vertical-align: middle;
    text-align:center;
}

h1
{
    color:#084B8A;
    font-family:Futura;
    background-color:#A9E2F3;
    text-align:center;
}

h2
{
    font-size: 1.3em;
    color:#084B8A;
    font-family:Futura;
    background-color:#A9E2F3;
}

h5
{
    font-size: 1.2em;
    color:#084B8A;
    font-family:Garamond;
    text-align:center;
}

#PDF
{
    color: white;
    text-decoration:none;
}

q
{
    color:#084B8A;
    font-family:Futura;
    font-size: 1.3em;
}

table
{
    margin: auto; /* Center the whole table */
    text-align:center; /* Center the text in each cell of the table */
    width:39%;
    border: .15em solid #084B8A;
    font-family:Futura;
    font-size: 1em;
    border-collapse:collapse; /* Collapse the borders to not be a unique border for each cell */
}

th, td
{
    padding: .25em;
    border: .1em double #084B8A;
}

#tableName
{
    font-size: 1.3em;
    color:#084B8A;
    background-color:#A9E2F3;
}

#tableCategory
{
    color:#0B3861;
    border: 1px solid #084B8A;
    font-size:1.05em;
}

#footer
{
    font-size: 1.25em;
    text-align:center;
    font-family:Garamond;
}

ul, ol
{
    font-size: 1.2em;
    font-family:Garamond;
    /* background-color:#E0F2F7; */
}

p
{
    font-size: 1.2em;
    font-family:Garamond;
    /* background-color:#E0F2F7; */
}

#button
{
    border: 1px solid #084B8A;
    height:22px;
    width:52px;
    background-color: #084B8A;
    border-radius: 4px;
    margin:auto;
    vertical-align: middle;
    text-align:center;
    cursor: pointer;
}

.picShadow
{
    box-shadow: 5px 5px 5px #888888;
}

#back-to-top
{
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 9999; /* Makes the button in front of everyon (3 dimentional z-axis) */
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 1.75em;
    background: #f5f5f5;
    color:#084B8A;
    cursor: pointer; /* Changes the pointer design of the mouse when on */
    border: 0;
    border-radius: 4px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 5;
}

#back-to-top:hover
{
    background: #e9ebec;
}

#back-to-top.show
{
    opacity: 1;
}
